minecraft/*
!minecraft/config
minecraft/config/blockswap/known_states/
!minecraft/defaultconfigs
!minecraft/mods
minecraft/mods/*.disabled
minecraft/mods/*.duplicate
minecraft/mods/srvOnly*
minecraft/mods/cOnly*
minecraft/mods/AmbientSounds*
!minecraft/scripts
!minecraft/kubejs
!minecraft/tacz
